.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--light-gray);
    border-right: 1px solid var(--border-color);
    padding: 20px 0;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 10px;
}
.user-profile:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.avatar {
    width: 30px;
    height: 30px;
    background-color: #c6c6c6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: bold;
}

.menu-list {
    list-style: none;
    margin-top: 20px;
}

.menu-item {
    padding: 12px 20px;
    align-items: center;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.menu-item.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.menu-item i {
    margin-right: 10px;
    font-size: 20px;
}

.submenu {
    list-style: none;
    background: #d1d0d0;
    margin-top: 10px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.submenu-item {
    cursor: pointer;
    padding: 10px;
    width: 50%;
    text-align: center;
}

.submenu-item:hover {
    background-color: #f0f0f0;
}


.logout {
    width: 100%;
    padding: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
}

.logout:hover {
    background-color: #cc0000;
}

.info {
    width: 100%;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    background-color: #d9d9d9;
}


.notification-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notification-item:last-child {
    border-bottom: none;
}

#notification-panel {
    position: fixed;
    left: 0; 
    top: 360px;
    width: 250px;
    background: #ffffff; 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
}
#notification-panel small {
    color: red;
}
